.lg-bg{
  background-color: #f5f5f5;
}

a[role=button]{
  cursor: pointer;
}
.card{
  box-shadow: 1px 1px 1px lightgrey;
  background-color:white;
  margin: 0 1em;
  padding: 1em;
}

@media(min-width: 960px){
  .story .dl-horizontal{
    dd{
      margin-left: 100px;
    }
    dt{
      width: 80px;
    }
  }
}

.chapter-body{
  resize: vertical;
  padding-left: 3em;
  min-height: 10em;
}
p.chapter-body{
  padding-top: 0.7em;
  padding-left: 3.5em;
}

.edit-textarea{
  margin-bottom: -2.6em;
  z-index: 999;
}

.no-br{
  border-radius: 0;
}

