<div class="container story lg-bg full-height" style="margin-top: -20px; padding-top: 1em">
  <div class="card">
    <h3 style="margin-top: 0.2em !important;">{{vm.story.name}} </h3>
    <dl class="dl-horizontal" style="padding-top: 1.5em; border-top: 1px solid #eee">
      <dt>Likes</dt>
      <dd>{{vm.story.likes.length}} </dd>
      
      <dt>Dislikes</dt>
      <dd>{{vm.story.dislikes.length}} </dd>
      
      <dt>Descripción</dt>
      <dd>{{vm.story.info}} </dd>
    </dl>
    <hr>
    <div class="lector">
      <md-button class="md-primary"
                 ng-show="vm.parents.length"
                 ng-click="vm.goBack()"
                 style="text-transform: none">
        <span class="glyphicon glyphicon-chevron-left"></span>
        Atrás
      </md-button>
      <p ng-hide="vm.story.nodes.length">
        No hay capitulos :c
      </p>
      <p ng-show="vm.story.nodes.length" class="body lg-bg">
        {{vm.currentNode.text}}
      </p>
      <md-button class="md-primary"
                 ng-repeat="child in vm.currentChildren"
                 ng-click="vm.setNode(child)"
                 style="display: block; text-transform: none">
        <span class="glyphicon glyphicon-chevron-right"></span>
        {{child.title}}
      </md-button>
      <p class="text-center" ng-hide="vm.currentChildren.length">
        FIN
      </p>
    </div>
  </div>
</div>