<div class="container story lg-bg full-height" style="margin-top: -20px; padding-top: 1em">
  <div class="card">
    <h3 style="margin-top: 0.2em !important;">{{vm.story.name}} </h3>
    <dl class="dl-horizontal" style="padding-top: 1.5em; border-top: 1px solid #eee">
      <dt>Likes</dt>
      <dd>{{vm.story.likes.length}} </dd>
      
      <dt>Dislikes</dt>
      <dd>{{vm.story.dislikes.length}} </dd>
      
      <dt>Info</dt>
      <dd>{{vm.story.info}} </dd>
    </dl>
    <hr>
    <div layout-gt-sm="row">
      <section flex-gt-sm="20" class="editor-section">
        <h3>Capitulos</h3>
        <button class="btn btn-success" ng-click="vm.addNode()">
          <span class="fa fa-plus"></span>
          Nuevo capitulo 
        </button>
        <ul class="list-unstyled scrollx">
          <li ng-repeat="node in vm.story.nodes">
            <md-button ng-click="vm.setNode(node)">{{node.title}} </md-button>
          </li>
        </ul>
      </section>
      <section flex="80" class="editor-section">
        <header>
          <h3>Editor</h3>
          <button class="btn btn-success" ng-click="vm.saveNode()" ng-show="vm.currentNode">
            <span class="fa fa-check"></span>
            Guardar
          </button>
        </header>
        <br>
        <div ng-hide="vm.currentNode">
          Selecciona un capitulo de la lista para editarlo o crea uno nuevo
        </div>
        <div ng-show="vm.currentNode">
          Titulo: <input type="text" ng-model="vm.currentNode.title">
          <textarea cols="80" rows="10" class="form-control" ng-model="vm.currentNode.text"></textarea>
          <div class="input-group">
            <select class="form-control" ng-model="vm.newLink">
              <option ng-repeat="node in vm.story.nodes" value="{{node.id}}">
                {{ node.title }}
              </option>  
            </select>
            <div class="input-group-btn">
              <button class="btn btn-success" ng-click="vm.addLink()">
                <span class="fa fa-plus"></span>
                Añadir enlace
              </button>
            </div>
          </div>
          <h4 ng-show="vm.currentNode.children.length">Enalces creados</h4>
          <div class="input-group" ng-repeat="link in vm.currentNode.children">
            <select class="form-control" ng-model="link">
              <option ng-repeat="node in vm.story.nodes" value="{{node.id}}">
                {{ node.title }}
              </option>  
            </select>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
